.mainCategory {
  color: #2d2d2d;
  font-size: 36px;
  font-weight: 500;
  line-height: 132.5%;
  margin-bottom: 15px;
}
.mainList {
  justify-content: space-between;
  margin-bottom: 60px;
}
.mainAbout {
  color: #4e4c4c;
  font-size: 14px;
  line-height: 150.188%;
  margin-bottom: 30px;
}
