@import "@/app/styles/variables.scss";

.SomeEll {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $plate;
  color: $base-color;
  border-radius: 10px;
  padding: 5px 20px;
  padding-right: 5px;
}

.SomeEllName {
  font-size: 17px;
}
.SomeElldelete {
  color: #9e9e9e;
  font-size: 12px;
  line-height: 150.188%;
  cursor: pointer;
  padding: 10px 30px;
  &:hover {
    box-shadow: 0 0 5px rgb(224, 89, 93, 0.8);
    color: rgb(224, 89, 93);
  }
  transition: all 0.3s ease 0s;
  border-radius: 10px;
}
